#chart-index-container {
  width: 1140px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

#chart-index-container h1 {
  font-size: 30px;
  color: rgb(51, 51, 51);
}

#chart-index-search {
  width: 1109px;
  padding: 15px;
  margin: 15px 0;
  border: 1px solid lightgrey;
}

#chart-story {
  overflow: scroll;
  overflow-x: hidden;
  height: 100px;
}

#chart-index-search strong {
  font-weight: bold;
  color: rgb(51, 51, 51);
}

#chart-index-search input {
  margin-top: 13px;
  padding: 10px;
  border: 1px solid lightgrey;
  width: 300px;
}

#chart-index-search button {
  margin-left: 13px;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 10px;
}

#chart-index-container h2 {
  font-size: 24px;
  color: rgb(51, 51, 51);
}

#chart-table {
  margin-top: 15px;
  font-size: 12px;
  font-weight: bold;
}

#chart-table {
  width: 100%;
  background-color: white;
}


th {
  background-color: #E5E5E5;
}

tr:nth-child(even) {background-color: #f2f2f2}

.table-row {
    padding: 15px;
    text-align: left;
    font-weight: normal;
}

.table-row a {
  color: rgb(0, 127, 182);
}

.table-row a:hover {
  text-decoration: underline;
}

.table-row button {
  background-color: transparent;
  color: #007FB6;
}

.table-row button:hover {
  text-decoration: underline;
}
