// Place all the styles related to the api::courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#course-map-container {
  height: 175px;
  width: 278px;
}

#course-create-container {
  height: 100vh;
  width: 100%;
}

.map-cards {

}

#searchTextField {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#searchTextField:focus {
  border-color: #4d90fe;
}
