
.auth-button {
  color: white;
  background-color: #FC4C02;
  border-color: #FC4C02;
  width: 322px;
  height: 40px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  opacity: 1.0;
  font-size: 15px;
  outline: 0;
}

.login-form {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100;
  background-color: rgba(0,0,0,.7);
  color: white;
  width: 400px;
  height: 560px;
  display: flex;
  flex-direction: column;
  margin: 60px;
  border-radius: 3px;
}

::selection {
  background: rgba(248, 118, 66, 1);
}

input[type="text"]
{
  font-size: 14px;
  padding: 11px 10px;
  transition: all 0.1s linear;
  background: rgba(0,0,0,0.5);
  border: 1px solid #666;
  color: lightgrey;
}

input[type="password"]
{
  font-size: 14px;
  padding: 11px 10px;
  transition: all 0.1s linear;
  background: rgba(0,0,0,0.5);
  border: 1px solid #666;
  color: white;
}


.form-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 300px;
  max-height: 40px;
  border: 1px solid grey;
}

.login-input:focus {
  background:rgba(255, 255, 255,1);;
  color: grey;
}

.auth-button:hover {
  background-color: #ed4600;
}

.auth-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url("login_background.jpg");
  background-size: cover;
}

.auth-header {
  height: 60px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 30%;
  margin-top: 25px;

  background:url("logo.png");
  display:block;
  height:50px;
  width:50px;
}

.header-link {
  margin-right: 30%;
  margin-top: 13px;
  width: 72px;
  height: 15px;
  text-align: center;
  padding: 10px 9px 10px 9px;
  color: grey;
  border: 1px solid lightgrey;
  -moz-appearance: button;
  appearance: button;
  vertical-align: middle;
  text-decoration: none;
}

.login-title {
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
}

.enticing-text {
  padding-top: 90px;
}

.error {
  font-size: 10px;
  color: red;
}

.splash-page {
  height: 100vh;
  background-image: url("splash_background.jpg");
  background-size: cover;
}

.splash-header {
  height: 84px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.login-links {
  width: 100%;
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
  margin-left: 18%;
  margin-right: 18%;
}

.join-now {
  font-family: 'MaisonNeue', 'Helvetica', Arial, sans-serif;
  font-weight: 100;
  font-size: 18px;
}

.splash-link {
  font-family: 'MaisonNeue', 'Helvetica', Arial, sans-serif;
  font-weight: 200;
  color: grey;
}
